body {
  background-color: rgb(242, 242, 242);
  color: black;
}

/* Navbar */
nav ul a,
nav .brand-logo {
  color: rgb(0, 0, 0) !important;
}
/* Navbar-SearchBar */
nav .search-bar {
  padding-top: 8px;
  width: 20vw;
}

nav .search-bar div input[type="text"] {
  height: 50px;
  padding-left: 15px;
  background-color: #f5f5f5;
}

nav .search-bar .search-result {
  background-color: #fff;
  color: black;
  text-align: left;
  width: 100%;
  position: absolute;
  top: 90%;
  visibility: hidden;
  z-index: 1;
}

nav .search-bar .search-result a {
  text-decoration: none;
  padding: 0px 10px;
}

nav .search-bar input:focus + .search-result {
  visibility: visible;
}

/* Sidebar */
aside .collection-item {
  padding: 20px !important;
  border: 0 !important;
  box-shadow: none !important;
}
aside .collection a {
  font-size: 18px;
  color: black !important;
}

/* Login Page */
.login-form {
  padding: 20px;
}

/* Home Page */

/* Messages Page */
.scroll {
  height: 600px;
  overflow-y: scroll;
}

/* Profile Page */
